{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui red header">
                        ADOS ET ADULTES (à partir de 14 ans)
                        <div class="sub header">Boxe, assurance, équilibre mental</div>
                    </h3>
                    <p>Le Karaté Contact est une discipline martiale et sportive qui rassemble tous les éléments
                        déterminants pour parfaire sa connaissance du combat. Sans motiver ni même développer la
                        violence, nous parlons ici d’efficacité et de réalité.</p>
                    <p>Cette boxe pieds/poings apporte assurance et équilibre mental. Chacun peut s’y s'exprimer
                        totalement tout en préservant l'intégrité physique des pratiquants. Le travail de la condition
                        physique y est important : résistance, endurance mais également vitesse, précision et
                        souplesse.</p>
                    <p>Cet entraînement s’adapte aussi bien aux hommes qu’aux femmes et permet d'éliminer stress et
                        calories en se construisant un physique tonique et équilibré.</p>
                    <p>Pour ceux qui désirent se préparer spécifiquement, différentes compétitions sont ouvertes.</p>
                </div>
                <div class="eight wide column">
                    <p>La compétition en « Karaté Light-Contact » ou « Semi Contact » est réservée aux moins de 18 ans ;
                        c’est un combat avec des touches contrôlées.</p>
                    <p>La compétition « Karaté Contact » est une variante qui permet la mise en pratique en toute
                        sécurité (casque, gants, protège-tibias et protège-pieds) des différentes techniques de pieds et
                        de poings issues du karaté traditionnel.</p>
                    <p>Le'objectif est d’amener pédagogiquement et progressivement les jeunes au « Karaté Contact »
                        ou au « Karaté Full Contact » tout en offrant des conditions optimales au niveau de la structure
                        arbitrale, médicale et professorale. Le travail réalisé avec le jeune doit-être un rapport avec
                        son âge et ses possibilités.</p>
                    <p>Il est différent du « Karaté Full Contact » car il se
                        pratique sur un tatami et certaines techniques comme le « Low-Kick » sont autorisées. En «
                        Karaté Contact » le K-O est autorisé.
                        Le « Full Contact » est encore différent du « Karaté Contact » car les combats se déroulent sur
                        un ring.</p>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <h4 class="ui header">Les Horaires</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Mardi</td>
                            <td>19h30 - 21h00</td>
                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>19h30 - 21h00</td>
                        </tr>
                    </table>
                </div>
                <div class="eight wide column">
                    <h4 class="ui header">Les Tarifs</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>200 € / année</td>
                        </tr>
                        <tr>
                            <td>Licence FFKDA comprise (36 €)</td>
                        </tr>
                        <tr>
                            <td>Cours Body Karaté inclus</td>
                        </tr>
                        <tr>
                            <td>T-Shirt du club offert</td>
                        </tr>
                    </table>
                    <a class="ui black label">Tarifs spéciaux</a>
                </div>
            </div>
        </div>
    </div>

    {{ include('@App/parts/tarifs-speciaux.html.twig') }}
{% endblock %}