{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui red header">
                        ENFANT (de 8 à 13 ans révolu)
                        <div class="sub header">Respect, maitrise de soi et concentration</div>
                    </h3>
                    <p>Le karaté enfant est une activité sportive et ludique qui conserve les valeurs des arts mariaux :
                        respect, maîtrise de soi et concentration.</p>
                    <p>Diverses facettes de l’entraînement sont abordées : technique, série (enchaînements), combat
                        (contrôlé).</p>
                    <p>Le karaté permet une amélioration des capacités motrices (coordination, maitrise de son corps
                        dans l’espace, équilibre, souplesse, …) et engendre un développement corporel harmonieux. Il
                        apporte confiance en soi et permet de canaliser l’énergie.</p>
                </div>
                <div class="eight wide column">
                    <p>Aucune confrontation n’est forcée, c’est une pratique de loisir, mais pour ceux qui le
                        souhaitent la compétition est ouverte à tous.</p>
                    <p>La compétition en « Karaté Light Contact » ou « Semi Contact » est réservé aux moins de 18 ans ;
                        elle consiste à réaliser un combat avec des touches contrôlées et les K.O
                        sont interdits.</p>
                    <p>L'objectif est d’amener pédagogiquement et progressivement les jeunes au « Karaté Contact »
                        ou au « Karaté Full Contact » tout en offrant des conditions optimales au niveau de la structure
                        arbitrale, médicale et professorale. Le travail réalisé avec le jeune doit-être un rapport avec
                        son âge et ses possibilités.</p>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <h4 class="ui header">Les Horaires</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Mardi</td>
                            <td>17h30 - 18h30</td>
                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>18h30 - 19h30</td>
                        </tr>
                    </table>
                </div>
                <div class="eight wide column">
                    <h4 class="ui header">Les Tarifs</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>180 € / année</td>
                        </tr>
                        <tr>
                            <td>Licence FFKDA comprise (36 €)</td>
                        </tr>
                        <tr>
                            <td>Tee-shirt club offert</td>
                        </tr>
                    </table>
                    <a class="ui black label">Tarifs spéciaux</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}