{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui red header">
                        JEUNE ENFANT (5 à 7 ans révolu)
                        <div class="sub header">Eveil, aprentissage moteur</div>
                    </h3>
                    <p>Le Karaté Contact jeunes-enfants est une activité sportive et ludique qui conserve les valeurs
                        des arts martiaux : respect, maîtrise de soi et concentration.</p>
                    <p>Ici le Karaté Contact est adapté au plus jeune âge et vise essentiellement les apprentissages
                        moteurs : découverte de son corps, équilibre, organisation dans l’espace, capacité de
                        concentration, grâce à des activités ludiques et variées.</p>
                </div>
                <div class="eight wide column">
                    <p>Au programme : parcours d’obstacles, techniques de base ou encore jeux d’oppositions.</p>
                    <p>Ces entrainements permettent un éveil corporel à travers le karaté tout en développant la
                        relation avec les autres.</p>
                    <p>Ils préparent ainsi les enfants à la suite pour qu’ils puissent devenir de grands karatékas !</p>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <h4 class="ui header">Les Horaires</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Jeudi</td>
                            <td>17h30 - 18h30</td>
                        </tr>
                    </table>
                </div>
                <div class="eight wide column">
                    <h4 class="ui header">Les Tarifs</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>150 € / année</td>
                        </tr>
                        <tr>
                            <td>Licence FFKDA comprise (36 €)</td>
                        </tr>
                        <tr>
                            <td>Tee-shirt club offert</td>
                        </tr>
                    </table>
                    <a class="ui black label">Tarifs spéciaux</a>
                </div>
            </div>
        </div>
    </div>

    {{ include('@App/parts/tarifs-speciaux.html.twig') }}
{% endblock %}