<div class="ui vertical inverted sidebar menu">
    <a class="active item" href="{{ path('accueil') }}">Accueil</a>
    <!--<a class="item" href="news.html">News</a>-->
    <a class="item" href="{{ path('kc.jeune-enfant') }}">Karaté Contact Jeune Enfant</a>
    <a class="item" href="{{ path('kc.enfant') }}">Karaté Contact Enfant</a>
    <a class="item" href="{{ path('kc.ado-adulte') }}">Karaté Contact Ado et Adulte</a>
    <a class="item" href="body-karate.html">Body Karaté</a>
    <a class="item" href="coaching.html">Coaching</a>
    <!--<a class="item" href="stage.html">Stage</a>-->
    <a class="item" href="club.html">Le Club</a>
    <a class="item" href="boutique.html">Boutique</a>
    <a class="item" href="contact.html">Contact</a>
</div>