{% extends '::base-admin.html.twig' %}

{% block content %}
    <h3>Envoyer une Newsletter</h3>

    <hr/>

    <div class="well">
        {{ form_start(form, {"attr": {"novalidate":"novalidate"}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}