<div class="ui modal">
    <div class="header">Tarifs Spéciaux</div>
    <div class="content">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <ul>
                        <li>Etudiant et demandeur d’emploi :
                            <ul>
                                <li>180 € / année : cours de Karaté Contact (Body Karaté inclus)</li>
                                <li>150 € / année : cours de Body Karaté</li>
                            </ul>
                        </li>
                        <li>Familles (2 ou 3 personnes de la même famille) :
                            <ul>
                                <li>20 % pour le deuxième et le troisième adhérent.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="eight wide column">
                    <ul>
                        <li>Chèque sport de 50 € (spécificité dept Landes) :
                            <ul>
                                <li>Les élèves de sixième pourront toucher un chèque de 50 euros</li>
                            </ul>
                        </li>
                        <li>Coupon sport (national) :
                            <ul>
                                <li>Se rapprocher des collectivités locales (mairie, département, conseil
                                    régional)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="wide column">* Possibilité de régler en 3 chèques répartis sur la saison</div>
            </div>
            <div class="row">
                <div class="wide column">** Possibilité de s'inscrire à un seul cours (tarifs à voir avec le club)</div>
            </div>
        </div>
    </div>
</div>