<div class="ui centered card">
    <div class="image">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <div>
                    {% for img in product.images %}
                        <p><img src="{{ asset('images/products/' ~img.name) }}" alt=" "/></p>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        </div>
    </div>
    <div class="content">
        <div class="header center aligned">{{ product.name }}</div>
    </div>
    <div class="extra content">
        <span class="price">{{ product.price }}</span>
        <i class="euro icon"></i>
        <a class="tiny ui vertical animated right floated button" tabindex="0"
           href="{{ path('boutique.product', { 'id': product.id }) }}">
            <div class="hidden content">Add</div>
            <div class="visible content">
                <i class="shop icon"></i>
            </div>
        </a>
    </div>
</div>