{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable text container">
            {{ dump(posts) }}
            {% for post in posts %}
                {% include '@App/News/post.html.twig' %}
                {% if loop.index is not same as(posts.query.maxResults) %}
                    <div class="ui section divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if nbPages > 1 %}
        <div class="ui vertical stripe segment center aligned" id="pagination">
            <div class="ui center aligned pagination menu">
                {% for p in range(1, nbPages) %}
                    <a class="{% if p == page %}active{% endif %} item"
                       href="{{ path('news', {'page': p}) }}">{{ p }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}