{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable text container">
            <div class="row">
                <h3 class="ui header">
                    <a href="" class="h3 title">Stage avec Dominique Valéra</a>
                    <div class="sub header">
                        <span class="post-auhor-date">Gérald, <a href="" class="">le Mercredi 5 Juillet 2017</a></span>
                        -
                        <span class="post-comment"><a href="" class=""><i class="comment outline icon"></i> 0</a></span>
                        -
                        <span class="post-category"><a href="" class="">Stage</a></span>
                    </div>
                </h3>

                {#<img class="ui small left floated rounded image" src="./images/news1.jpg">#}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi modi quod rem repudiandae sit
                    voluptatem!
                    Consectetur delectus ex excepturi impedit laboriosam magni optio qui veniam voluptatum. Consequatur
                    doloremque quibusdam totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                    architecto
                    commodi cumque deleniti doloremque excepturi harum labore maxime modi molestiae molestias, nemo
                    nesciunt
                    pariatur perferendis perspiciatis quo reprehenderit, soluta vel.</p>
                <a class="ui large button">Lire la suite</a>
            </div>
            <div class="ui section divider"></div>
        </div>
    </div>


    <div class="ui vertical stripe segment center aligned" id="pagination">
        <div class="ui center aligned pagination menu">
            <a class="active item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <div class="disabled item">...</div>
            <a class="item">10</a>
            <a class="item">11</a>
            <a class="item">12</a>
        </div>
    </div>
{% endblock %}