<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon/seiken-logo-32x32.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Seiken Hossegor :: News</title>
    <style type="text/css">
        #header {
            background: url('assets/img/news.jpg') no-repeat center/cover fixed;
        }
    </style>
</head>
<body>
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="item" href="index.html">Accueil</a>
        <a class="active item" href="news.html">News</a>
        <div class="ui dropdown item">
            Karaté Contact <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="k-jeune_enfant.html">Jeune Enfant</a>
                <a class="item" href="k-enfant.html">Enfant</a>
                <a class="item" href="k-ado_adulte.html">Ado et Adulte</a>
            </div>
        </div>
        <a class="item" href="body-karate.html">Body Karaté</a>
        <a class="item" href="coaching.html">Coaching</a>
        <a class="item" href="stage.html">Stage</a>
        <a class="item" href="club.html">Le Club</a>
        <a class="item" href="boutique.html">Boutique</a>
        <div class="right menu">
            <div class="item">
                <a class="ui red button" href="contact.html">Contact</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item" href="index.html">Accueil</a>
    <a class="active item" href="news.html">News</a>
    <a class="item" href="k-jeune_enfant.html">Karaté Contact Jeune Enfant</a>
    <a class="item" href="k-enfant.html">Karaté Contact Enfant</a>
    <a class="item" href="k-ado_adulte.html">Karaté Contact Ado et Adulte</a>
    <a class="item" href="body-karate.html">Body Karaté</a>
    <a class="item" href="coaching.html">Coaching</a>
    <a class="item" href="stage.html">Stage</a>
    <a class="item" href="club.html">Le Club</a>
    <a class="item" href="boutique.html">Boutique</a>
    <a class="item" href="contact.html">Contact</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" id="header">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" id="menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="index.html">Accueil</a>
                <a class="active item" href="news.html">News</a>
                <div class="ui dropdown item">
                    Karaté Contact <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="k-jeune_enfant.html">Jeune Enfant</a>
                        <a class="item" href="k-enfant.html">Enfant</a>
                        <a class="item" href="k-ado_adulte.html">Ado et Adulte</a>
                    </div>
                </div>
                <a class="item" href="body-karate.html">Body Karaté</a>
                <a class="item" href="coaching.html">Coaching</a>
                <a class="item" href="stage.html">Stage</a>
                <a class="item" href="club.html">Le Club</a>
                <a class="item" href="boutique.html">Boutique</a>
                <div class="right item">
                    <a class="ui inverted button" href="contact.html">Contact</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header" id="title">
                Seiken Hossegor
            </h1>
            <h2 class="ui inverted header">Association de Karaté Contact d'Hossegor.</h2>
            <a class="ui huge red button">S'inscire <i class="right arrow icon"></i></a>
        </div>

    </div>



    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">A propos</h4>
                    <div class="ui inverted link list">
                        <a href="contact.html" class="item">Contactez-Nous</a>
                        <a href="https://www.facebook.com/groups/seikenhossegor/" class="item">Facebook</a>
                        <a href="#" class="item">FAQ</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Sponsors</h4>
                    <div class="ui inverted link list">
                        <a href="http://www.e-leclerc.com/capbreton" class="item">E.Leclerc Capbreton</a>
                        <a href="https://www.smefazur.fr/" class="item">Smef Azur</a>
                        <a href="http://deltaconseil.fr" class="item">Delta Conseil</a>
                        <a href="http://www.soorts-hossegor.fr/vivre-ici/vie-associative/1113-annuaire-des-associations/93-association-seiken.html"
                           class="item">Mairie Soorts-Hossegor</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Liens Utiles</h4>
                    <div class="ui inverted link list">
                        <a href="http://sites.ffkarate.fr/aquitaine/" class="item">Ligue Aquitaine de Karaté</a>
                        <a href="http://sites.ffkarate.fr/landes/" class="item">Comité departemantal des Landes
                            Karaté</a>
                        <a href="http://www.valera-karatecontact.com/" class="item">Valera Karaté Contact</a>
                        <a href="http://www.hossegor.fr/fr/commerces-services/detail/seiken-hossegor/" class="item">Office
                            de Tourisme d'Hossegor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical segment">
        <div class="ui right aligned container">
            © 2017 Seiken Hossegor - <a href="https://sanjuant.fr">sanjuant.fr</a>
        </div>
    </div>
</div>
<script src="assets/js/app.min.js"></script>
</body>
</html>