{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable text container">
            {% for post in posts %}
                {% include '@App/News/post.html.twig' %}
                {% if not loop.last %}
                    <div class="ui section divider"></div>{% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="ui vertical stripe segment center aligned" id="pagination">
        <div class="ui center aligned pagination menu">
            <a class="active item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <div class="disabled item">...</div>
            <a class="item">10</a>
            <a class="item">11</a>
            <a class="item">12</a>
        </div>
    </div>
{% endblock %}