{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable text container">
            {% include 'AppBundle:News:post.html.twig' %}
        </div>
    </div>
{% endblock %}

