{% extends 'base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable container">
            <div class="row">
                <div class="ui segment">
                    <p>Félicitation, nous avons bien pris votre commande.</p>
                    <a href="{{ path('accueil') }}">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
