{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui column aligned stackable grid container">
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui clearing segment">
                        {{ form_start(form, {"attr": {"novalidate":"novalidate"}}) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

