{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="row">
                <div class="ten wide column">
                    <h3 class="ui red header">
                        BODY KARATÉ
                        <div class="sub header">Fitness, renforcement musculaire et cardio-vasculaire</div>
                    </h3>
                    <p>Les bienfaits sur l’organisme d’une activité physique régulière ne sont plus à
                        démontrer. Dans
                        notre
                        société au rythme de vie effréné, il est nécessaire de trouver un exutoire permettant de se
                        défouler
                        physiquement, entraînant une réduction bienfaitrice du niveau de stress.</p>
                    <p>Un cours de Body Karaté vise et atteint ce double objectif : une dépense physique saine couplée à
                        une ambiance plus détendue. L’avantage de ce cours est qu’il n’y a pas besoin d’être pratiquant
                        de Karaté pour en retirer tous les bienfaits. La conception pédagogique, technique et
                        énergétique
                        de ce cours est telle qu’elle permet de s’adresser à toutes et tous, du débutant au confirmé.
                        Tout le
                        monde peut y participer et progresser à son rythme. La pratique est sûre puisqu’elle ne repose
                        sur aucune opposition physique. Il n’y a donc aucun risque de blessure suite à un coup non
                        contrôlé
                        par un partenaire.</p>
                    <p>Le tout est exécuté en rythme sur une musique moderne, entraînante et dynamique, ce qui rend
                        l’effort sportif motivant.</p>
                    <p>C'est une activité thérapeutique, parce qu'elle assouplit le corps et détend l'esprit tout en
                        permettant une remise en forme et le développement d'une bonne condition physique.</p>
                    <p>L'énergie circule à travers le corps, les mouvements sont plus fluides, on constate une
                        amélioration du bien-être et de la santé.</p>
                </div>
                <div class="six wide column">
                    <div class="ui segment">
                        <h3 class="ui block header">
                            Bienfaits
                        </h3>
                        <ul class="ui list">
                            <li>Améliore les fonctions cardiaques et pulmonaires et réduit les risques de maladies
                                cardio-vasculaires
                            </li>
                            <li>Tonifie et sculpte les principaux groupes musculaires</li>
                            <li>Brûle des calories pour amincir le corps</li>
                            <li>Augmente la coordination et l'agilité</li>
                            <li>Améliore la densité osseuse</li>
                            <li>Améliore la posture, la force abdominale et la stabilité</li>
                            <li>Accroît la confiance en soi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    <h4 class="ui header">Les Horaires</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>Mardi</td>
                            <td>18h30 - 20h</td>
                        </tr>
                    </table>
                </div>
                <div class="eight wide column">
                    <h4 class="ui header">Les Tarifs</h4>
                    <table class="ui small inverted celled table">
                        <tr>
                            <td>170 € / année</td>
                        </tr>
                        <tr>
                            <td>Licence FFKDA comprise (36 €)</td>
                        </tr>
                        <tr>
                            <td>T-Shirt du club offert</td>
                        </tr>
                    </table>
                    <a class="ui black label">Tarifs spéciaux</a>
                </div>
            </div>
        </div>
    </div>

    {{ include('@App/parts/tarifs-speciaux.html.twig') }}
{% endblock %}

