{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui aligned stackable grid container">
            <div class="center aligned row">
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg" alt="avatar">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Corinne Salles</a>
                            <div class="meta">
                                <span>Présidente</span>
                            </div>
                            <div class="extra">
                                <span>EMAIL</span><span class="ui sub header">corinnesalles@free.fr</span><br/>
                                <span>TÉLÉPHONE</span><span class="ui sub header">06 18 48 21 31</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="https://www.sanjuant.fr/images/sanjuan-thibaut.jpg" alt="avatar">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Thibaut SANJUAN</a>
                            <div class="meta">
                                <span>Secrétaire Général</span>
                            </div>
                            <div class="extra">
                                <span>EMAIL</span><span class="ui sub header">sanjuan.thibaut@gmail.com</span><br/>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="./images/stevie.jpg" alt="avatar">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Émilie MARRAST</a>
                            <div class="meta">
                                <span>Trésorier Général</span>
                            </div>
                            <div class="extra">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui small rounded image">
                            <img src="./images/steve.jpg" alt="avatar">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">Gérald BERNAL</a>
                            <div class="meta">
                                <span>Professeur</span>
                            </div>
                            <div class="extra">
                                <span>EMAIL</span><span class="ui sub header">gerald.bernal@icloud.com</span><br/>
                                <span>TÉLÉPHONE</span><span class="ui sub header">07 82 68 01 21</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

