{% extends '::base.html.twig' %}

{% block content %}
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <div id="map">
                        <div id="map-area"></div>
                        <h2 class="ui sub header">
                            ADRESSE
                        </h2>
                        <span>Salle polyvalente Trinquet de Soorts-Hossegor</span>
                        <h2 class="ui sub header">
                            EMAIL
                        </h2>
                        <span>contact@seiken-hossegor.fr</span>
                    </div>
                </div>
                <div class="eight wide column">
                    {{ form_start(form, {"attr": {"novalidate":"novalidate"}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

